section {
    height: 100px;
    width: 100%;
    background-color: black;

    >div{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    >div img {
        height: 32px;
        width: 32px;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}